- page_title _('Audit Events')

%h3.page-title= _('Group Audit Events')
%p.light= _('Events in %{group_name}') % { group_name: @group.name }

= render 'shared/audit_events/event_filter', path: group_audit_events_path(@group)
= render 'shared/audit_events/event_sort'
= render 'shared/audit_events/event_table', events: @events
